<!--
@for(post of data; track post.name) {
  <app-post [img]="post.img" [name]="post.name" [time]="post.time"
  [text]="post.text"></app-post>
}
-->


<!--    das Auslesen aus Datenbank funktioniert nicht!!! deswegen primitive Variante                -->
<app-post img="./assets/img/0.jpg" name="Jennifer" time="Vor 5 Minuten" text="
Schule ist jenes Exil, in dem der Erwachsene das Kind solange hält, bis es imstande ist, in der Erwachsenenwelt zu leben, ohne zu stören."></app-post>

<app-post img="./assets/img/1.jpg" name="Marta" time="Vor 7 Minuten" text="Erfolg ist die beste Rache."></app-post>

<app-post img="./assets/img/2.jpg" name="Lisa" time="Vor 10 Minuten" text="Mihau."></app-post>

<app-post img="./assets/img/3.jpg" name="Jürgen" time="Vor 12 Minuten" text="Frauen brauchen sich nicht zu emanzipieren. So gut wie Männer werden sie eh nicht.
"></app-post>

<app-post img="./assets/img/4.jpg" name="Tim" time="Vor 30 Minuten" text=" Für Fortnite!"></app-post>

