<div class="card">    <!-- Container mit Klassenname -->
  
    <div class="card-left">
      <img class="profile-image" [src]="img" alt="">       <!-- Bilder referenzieren (Bilder in public speichern), für mehrmalige Verwendung einer Einheitsgröße in styles konfigurieren, Eckige Klammern, weil src ein Attribut ist -->
    </div>
  
    <div class="card-right">
      <strong> {{ name }} </strong>       <!-- strong = fettgeschrieben -->
      <div class="card-time"> {{ time }} </div>
      <div> {{ text }} </div>
    </div>
  
  </div>
  
  